<div id="fundoMenuNavegacaoPrincipal" class="FundoMenuNavegacaoPrincipal">
</div>

<div id="containerMenuNavegacaoPrincipal" class="ContainerMenuNavegacaoPrincipal">
    <button class="Botao" id="botaoFecharMenuNavegacaoPrincipal">Fechar</button>
    <nav class="MenuNavegacaoPrincipal">
        <a href="Login.html" class="MenuNavegacaoPrincipal__Item">Logar</a>
        <a href="ProjetosPublicos.html" class="MenuNavegacaoPrincipal__Item">Projetos públicos</a>
        <a href="MinhaConta.html" class="MenuNavegacaoPrincipal__Item">Minha conta</a>
    </nav>
</div>