/* Variaveis de ambiente do CSS */
:root 
{
    /* Paleta principal */
    --corPrimaria: #16A34A;
    --corPrimariaAlternativa: #22C55E;
    --corSecundaria: #2563EB;
    --corSecundariaAlternativa: #3B82F6;
    --corPerigo: #DC2626;
    --corInativo: #6E6E6E;

    /* Texto */
    --corTextoPrimario: #000000;
    --corTextoSecundario: #6E6E6E;
    --corTitulo: #2563EB;

    /* Background */
    --corBackground: #FFFFFF;
    --corBackgroundAlternativa: #F2F2F2;

    /* Escala de espaçamento */
    --espacoExtraPequeno: 0.25rem;
    --espacoPequeno: 0.5rem;
    --espacoMedio: 1rem;
    --espacoGrande: 2rem;
    --espacoExtraGrande: 3rem;

    /* Curvas */
    --semCurva: 0;
    --curvaPequena: 0.25rem;
    --curvaMedia: 0.5rem;
    --curvaGrande: 1rem;
    --curvaExtraGrande: 1.5rem;

    /* Outros */
    --corContraste: #000000;
    --corBordas: #D1D5DB;
    --sombraVertical: 0 1px 3px rgba(0, 0, 0, 0.3);
}


/* Reset */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
    width: 100%;

    background-color: var(--corBackground);

    color: var(--corTextoPrimario);
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background-color: var(--corBackground);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}


/* Utilitários */
.FlexCol
{
    display: flex;
    flex-direction: column;
}

.FlexRow
{
    display: flex;
    flex-direction: row;
}

.Centralizar
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Esconder
{
    display: none !important;
}


/* Inputs, labels e botoes */
.BlocoLabelInput
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: var(--espacoExtraPequeno);
}

label
{
    color: var(--corTextoSecundario);
    font-size: 0.9rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

select
{
    cursor: pointer;
}

input, select, textarea
{
    padding: var(--espacoExtraPequeno) var(--espacoPequeno);
    border: 2px solid transparent;
    border-bottom-color: var(--corBordas);

    font-size: 1.25rem;

    transition: all 0.3s ease;
}

input:hover, select:hover, textarea:hover
{
    border-bottom-color: var(--corContraste);
}

input:focus, select:focus, textarea:focus
{
    background-color: rgba(22, 163, 74, 0.1);

    outline: none;
    border-bottom-color: var(--corPrimaria);
}

.Botao
{
    padding: var(--espacoPequeno) var(--espacoGrande);

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: var(--curvaGrande);
    box-shadow: var(--sombraVertical);

    font-size: 1rem;
    text-align: center;
    font-weight: bold;

    cursor: pointer;
    transition: all 0.3s ease;
}

.Botao:hover
{
    background-color: var(--corContraste);
    border-color: var(--corContraste);

    color: var(--corBackground)
}

.Botao:active
{
    transform: scale(0.90);
}

.Botao--Acao
{
    color: var(--corPrimaria);
}

.Botao--Acao:hover
{
    background-color: var(--corPrimaria);
    border-color: var(--corPrimaria);

    color: var(--corBackground);
}

.Botao--Perigo
{
    color: var(--corPerigo);
}

.Botao--Perigo:hover
{
    background-color: var(--corPerigo);
    border-color: var(--corPerigo);

    color: var(--corBackground);
}

.Botao--Desativado
{
    background-color: var(--corBackgroundAlternativa);
    border-color: transparent;
    box-shadow: none;

    color: var(--corTextoPrimario);
}

.Botao--Desativado:hover
{
    background-color: var(--corBackgroundAlternativa);
    border-color: transparent;
    box-shadow: none;

    color: var(--corTextoPrimario);

    cursor: not-allowed;
}

.Botao--Desativado:active
{
    transform: none;
}


/* Estrutura base */
.AppBarra
{
    padding: var(--espacoPequeno) var(--espacoMedio);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--espacoMedio);
    overflow-x: auto;
    flex-shrink: 0;
}

.AppBarra__Plataforma
{
    color: var(--corPrimaria);
    font-size: 1.75rem;
    font-weight: bold;
}

.AppConteudo
{
    flex-grow: 1;

    padding: var(--espacoMedio) 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
    gap: var(--espacoMedio);
}


/* Consulta de projetos publicos */
.ProjetosPublicos__Controles
{
    width: clamp(16rem, 50vw, 32rem);
    padding: var(--espacoMedio);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--espacoMedio);
}

.ProjetosPublicos__Controles .Link
{
    text-align: center;
}

.ProjetosPublicos__Projetos
{
    flex-shrink: 0;

    padding: var(--espacoPequeno);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
    align-items: start;
    gap: var(--espacoGrande);
}

.ProjetosPublicos__Projeto
{
    width: clamp(16rem, 90vw, 24rem);
    padding: var(--espacoMedio);

    border: 1px solid var(--corBordas);
    border-radius: var(--curvaMedia);
    box-shadow: var(--sombraVertical);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
    gap: var(--espacoMedio);
}

.ProjetosPublicos__ProjetoTitulo
{
    font-size: 1.25rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProjetosPublicos__ProjetoDescricao
{
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    word-break: break-all;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* Pagina de login */
.FormularioLogin 
{
    width: clamp(16rem, 75vw, 32rem);
    margin: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
    gap: var(--espacoMedio);
}


/* Minha conta */
.ContainerMinhaConta
{
    margin: auto;
    width: clamp(16rem, 75vw, 24rem);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
    gap: var(--espacoExtraGrande);
}

.MinhaConta__Formulario
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
    gap: 1rem;
}


/* Links */
.Link
{
    text-decoration: none;

    border: 1px solid transparent;

    color: var(--corSecundaria);
    font-size: 0.95rem;
    font-weight: bold;

    transition: all 0.1s ease;
}

.Link:hover
{
    text-decoration: underline;
    transform: scaleY(1.1) scaleY(1.1);
}

a
{
    text-decoration: none;
    color: var(--corTextoPrimario);
}


/* Menu de navegação principal */
.FundoMenuNavegacaoPrincipal
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    visibility: hidden;

    transition: opacity 0.3s ease;
}

.FundoMenuNavegacaoPrincipal--Aberto
{
    visibility: visible;
}

.MenuNavegacaoPrincipal
{
    background-color: var(--corBackground);

    z-index: 2;
    position: fixed;
    top: 0;
    left: -1000rem;

    width: clamp(16rem, 20vw, 24rem);
    height: 100%;
    padding: 1rem;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    overflow-y: auto;

    transition: all 0.4s ease;
}

.MenuNavegacaoPrincipal--Aberto
{
    left: 0;
    visibility: visible;
}

.MenuNavegacaoPrincipal nav
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
}

.MenuNavegacaoPrincipal__Item
{
    background-color: transparent;

    font-size: 1.25rem;
    font-weight: bold;
    border: 2px solid transparent;
    border-bottom-color: var(--corBordas);
    padding-bottom: 0.25rem;

    cursor: pointer;

    transition: all 0.3s ease;
}

.MenuNavegacaoPrincipal__Item:hover
{
    border-bottom-color: var(--corPrimaria);
}

.ContainerProjeto
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: start;
    align-items: stretch;

    gap: 1rem;
}

.ProjetoMenu
{
    flex-shrink: 0;

    padding: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    gap: 1rem;

    width: clamp(16rem, 95vw, 56rem);
    margin: 0 auto;

    box-shadow: var(--sombraVertical);
    border-radius: 0.5rem;
    border: 1px solid var(--corBordas);
}

.ProjetoMenu__Item
{
    background-color: transparent;

    font-size: 1.25rem;
    font-weight: bold;
    border: 2px solid transparent;
    border-bottom-color: var(--corBordas);
    padding: 0.25rem;

    cursor: pointer;

    transition: all 0.3s ease;
}

.ProjetoMenu__Item:hover:not(.ProjetoMenu__Item--Selecionado)
{
    border-bottom-color: var(--corContraste);
}

.ProjetoMenu__Item--Selecionado
{
    border-bottom-color: var(--corPrimaria);
}

.ContainerProjetoVisualizacaoConteudo
{
    flex-grow: 1;
}

.ProjetoMenuArtefatos
{
    padding: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
    flex-shrink: 0;
    gap: 1rem;

    width: clamp(16rem, 95vw, 56rem);
    margin: 0 auto;

    box-shadow: var(--sombraVertical);
    border-radius: 0.5rem;
    border: 1px solid var(--corBordas);
}

.ProjetoMenuArtefatos__Item
{
    color: var(--corSecundaria);

    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid transparent;
    border-bottom-color: var(--corBordas);
    padding: 0.25rem;
    flex-shrink: 0;

    cursor: pointer;

    transition: all 0.3s ease;
}

.ProjetoMenuArtefatos__Item:hover:not(.ProjetoMenuArtefatos__Item--Selecionado)
{
    border-bottom-color: var(--corContraste);
}

.ProjetoMenuArtefatos__Item--Selecionado
{
    border-bottom-color: var(--corPrimaria);
}

.ContainerArtefatos
{
    border: 2px solid transparent;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: start;
    align-items: stretch;
    gap: 2rem;
}

.ProjetoApresentacao__Conteudo
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
    gap: 2rem;
}

.ProjetoApresentacao__NomeProjeto
{
    text-align: center;
    font-size: 2rem;
    color: var(--corSecundaria);
}

.ProjetoApresentacao__Titulo
{
    font-size: 2rem;
    font-weight: bold;
    color: var(--corTextoPrimario);

    background-color: var(--corBackgroundAlternativa);
}

.ProjetoApresentacao__Subtitulo
{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--corTextoPrimario);

    background-color: var(--corBackgroundAlternativa);
}

.Texto
{
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.25rem;
    text-justify: inter-word;
    word-break: break-all;
}

.ProjetoApresentacao__Imagem
{
    max-width: 100%;
    height: auto;
    border: 2px solid var(--corContraste);
    border-radius: 1rem;
    margin: 0 auto;
}

.ProjetoApresentacao__Imagem--Pequena
{
    width: 360px;
    height: 202px;
}

.ProjetoApresentacao__Imagem--Media
{
    width: 520px;
    height: 292px;
}

.ProjetoApresentacao__Lista
{
    counter-reset: item;
    list-style: none;
}

.ProjetoApresentacao__Lista--Ordenada > .ProjetoApresentacao__ItemLista
{
    counter-increment: item;
}

.ProjetoApresentacao__Lista--Ordenada > .ProjetoApresentacao__ItemLista::before
{
    content: counter(item) ".";
}

.ProjetoApresentacao__Lista--NaoOrdenada > .ProjetoApresentacao__ItemLista::before
{
    content: "•";
}

.ProjetoApresentacao__ItemLista
{
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.25rem;
    text-justify: inter-word;
    word-break: break-all;

    padding: 0.25rem;
}

.ProjetoApresentacao__ItemLista::before
{
    font-weight: bold;
    margin-right: 8px;
}

.ProjetoApresentacao__FundoPopupAdicaoElementos
{
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.ProjetoApresentacao__PopupAdicaoElementos
{
    background-color: var(--corBackground);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.DisplayFlex
{
    display: flex;
}

.DisplayNone
{
    display: none;
}

.ContainerProjetoArtefatos
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
    gap: 3rem;
}

.ContainerProjetoArtefato
{
    width: clamp(16rem, 95vw, 56rem);
    padding: 1rem;
    margin: 0 auto;

    box-shadow: var(--sombraVertical);
    border-radius: 0.5rem;
    border: 1px solid var(--corBordas);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
    gap: 2rem;
}

@media screen and (width > 496px)
{
    .ProjetoMenu
    {
        justify-content: center;
    }
}

@media screen and (width > 640px)
{
    .ProjetoMenuArtefatos
    {
        flex-direction: row;
        justify-content: center;
    }

    .ProjetoApresentacao__PopupAdicaoElementos
    {
        height: auto;
        width: clamp(16rem, 50vw, 32rem);
        border-radius: 1.5rem;
    }
}