<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edicao de perfil</title>

    <template id="perfil-template">
        <li>
            <div class="perfil">
                <h5 class="perfil-nome"></h5>
                <p class="perfil-descricao"></p>
                <div id="perfil-container-btn-editar" class="perfil-container-btn-editar">
                    <button id="perfil-btn-editar" class="perfil-btn-editar">EDITAR PERFIL</button>
                </div>
                <div id="perfil-container-btn-deletar" class="perfil-container-btn-deletar">
                    <button id="perfil-btn-deletar" class="perfil-btn-deletar">DELETAR PERFIL</button>
                </div>
            </div>
        </li>
    </template>
</head>
<body>
    <main>
        <ul id="perfil-lista" class="perfil-lista">
            <li>
                <div id="perfil-container-btn-adicionar" class="perfil-container-btn-adicionar">
                    <button id="perfil-btn-adicionar" class="perfil-btn-adicionar">ADICIONAR PERFIL</button>
                </div>
            </li>
        </ul>
    </main>

    <script src="../scripts/PerfilEdicao.js"></script>
</body>
</html>