<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>configuracao do projeto</title>

    <template id="projeto-configucao-li-template">
        <li>
            <div class="projeto-configuracao-item">
                <h4>NOME DA CONFIGURACAO</h4>
                <div class="projeto-config-control-container"></div>
            </div>
        </li>
    </template>
</head>
<body>
    <main>
        <ul id="configuracao-lista">
        </ul>
    </main>

    <script src="../scripts/ProjetoConfiguracao.js"></script>
</body>
</html>