<div class="ArtefatoApresentacaoProjeto">
    <div id="projetoApresentacaoConteudo" class="ArtefatoApresentacaoProjeto__Conteudo">
        <h1 class="ArtefatoApresentacaoProjeto__NomeProjeto">Projeto XPTO</h1>
        <!-- Aqui os elementos criados serão adicionados -->
    </div>

    <div class="ArtefatoApresentacaoProjeto__BotaoAbrirPopupAdicaoElementos">
        <button id="botaoAbrirPopupAdicaoElementos" class="Botao Botao--Acao" type="button">
            + Adicionar elemento
        </button>
    </div>


    <!-- Popup -->
    <div class="ArtefatoApresentacaoProjeto__FundoPopupAdicaoElementos" id="fundoPopupAdicaoElementos">
    </div>

    <form id="popupAdicaoElementos" class="ArtefatoApresentacaoProjeto__PopupAdicaoElementos" novalidate>
        <h1>Adicionar elemento</h1>

        <div class="BlocoLabelInput">
            <label for="inputTipoElemento">Elemento:</label>
            <select id="inputTipoElemento">
                <option value="titulo">Título</option>
                <option value="subtitulo">Subtítulo</option>
                <option value="texto">Texto</option>
                <option value="listaOrdenada">Lista Ordenada</option>
                <option value="listaNaoOrdenada">Lista Não Ordenada</option>
                <option value="imagem">Imagem</option>
            </select>
        </div>

        <div id="containerInputConteudoElemento" class="BlocoLabelInput">
            <input type="text" id="inputConteudoElemento" placeholder="Digite o conteúdo do elemento">
        </div>

        <div id="containerInputTextoLivre" class="BlocoLabelInput">
            <textarea id="inputTextoLivre" rows="6" placeholder="Escreva o texto aqui"></textarea>
        </div>

        <div id="containerInputTamanhoImagem" class="BlocoLabelInput">
            <label for="inputTamanhoImagem">Tamanho:</label>
            <select id="inputTamanhoImagem">
                <option value="pequena">Pequena</option>
                <option value="media">Média</option>
            </select>
        </div>

        <button type="button" class="Botao Botao--Acao" id="botaoAdicionarElemento">Adicionar elemento</button>
        <button type="button" class="Botao Botao--Perigo" id="botaoFecharPopup">Voltar</button>
    </form>
</div>