<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tarefas do projeto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/projetoTarefas.css">
</head>
<body>
    <div class="ContainerGeral">
        <div class="QuadroKanban__Configuracoes">
            <button class="Botao">Configurar quadro</button>
        </div>
        <main class="QuadroKanban__Visualizacao">
            <section class="QuadroKanban__Lista QuadroKanban__Lista--NaoIniciado">
                <div class="QuadroKanbanLista__Cabecalho">
                    <h1>Titulo lista</h1>
                </div>
                <div class="QuadroKanbanLista__AdicaoTarefa">
                    <button class="Botao">+ Nova tarefa</button>
                </div>
                <div class="QuadroKanbanLista__Configuracoes">
                    <button class="Botao">Editar lista</button>
                </div>

                <div class="QuadroKanbanLista__Tarefas">
                    <div class="QuadroKanbanLista__Tarefa">
                        <div class="QuadroKanbanTarefa__Cabecalho">
                            <h1>Titulo tarefa</h1>
                        </div>
                        <div class="QuadroKanbanTarefa__Descricao">
                            <p>Descrição:</p>
                        </div>
                        <div class="QuadroKanbanTarefa__Subtarefas">
                            <p>Subtarefas: 1/10</p>
                        </div>
                        <div class="QuadroKanbanTarefa__Acessar">
                            <button class="Botao">0-0 Ver tarefa</button>
                        </div>
                    </div>

                    <div class="QuadroKanbanLista__Tarefa">
                        <div class="QuadroKanbanTarefa__Cabecalho">
                            <h1>Titulo tarefa</h1>
                        </div>
                        <div class="QuadroKanbanTarefa__Descricao">
                            <p>Descrição:</p>
                        </div>
                        <div class="QuadroKanbanTarefa__Subtarefas">
                            <p>Subtarefas: 1/10</p>
                        </div>
                        <div class="QuadroKanbanTarefa__Acessar">
                            <button class="Botao">0-0 Ver tarefa</button>
                        </div>
                    </div>
                </div>
            </section>


            <section class="QuadroKanban__Lista QuadroKanban__Lista--EmAndamento">
                <div class="QuadroKanbanLista__Cabecalho">
                    <h1>Titulo lista</h1>
                </div>
                <div class="QuadroKanbanLista__AdicaoTarefa">
                    <button class="Botao">+ Nova tarefa</button>
                </div>
                <div class="QuadroKanbanLista__Configuracoes">
                    <button class="Botao">Editar lista</button>
                </div>

                <div class="QuadroKanbanLista__Tarefas">
                    <div class="QuadroKanbanLista__Tarefa">
                        <div class="QuadroKanbanTarefa__Cabecalho">
                            <h1>Titulo tarefa</h1>
                        </div>
                        <div class="QuadroKanbanTarefa__Descricao">
                            <p>Descrição:</p>
                        </div>
                        <div class="QuadroKanbanTarefa__Subtarefas">
                            <p>Subtarefas: 1/10</p>
                        </div>
                        <div class="QuadroKanbanTarefa__Acessar">
                            <button class="Botao">0-0 Ver tarefa</button>
                        </div>
                    </div>
                </div>
            </section>


            <section class="QuadroKanban__Lista QuadroKanban__Lista--Concluido">
                <div class="QuadroKanbanLista__Cabecalho">
                    <h1>Titulo lista</h1>
                </div>
                <div class="QuadroKanbanLista__AdicaoTarefa">
                    <button class="Botao">+ Nova tarefa</button>
                </div>
                <div class="QuadroKanbanLista__Configuracoes">
                    <button class="Botao">Editar lista</button>
                </div>
                <div class="QuadroKanbanLista__Tarefas">
                </div>
            </section>
            <div class="QuadroKanban__Lista">
                <button class="Botao Botao--Positivo">+ Nova lista</button>
            </div>
        </main>
    </div>
</body>
</html>