<div id="containerProjetoArtefatos" class="ContainerProjetoArtefatos">
    <nav class="ProjetoMenuArtefatos">
        <button id="botaoArtefatoApresentacao" class="ProjetoMenuArtefatos__Item">Apresentação</button>
        <button id="botaoArtefatoRequisitos" class="ProjetoMenuArtefatos__Item">Requisitos</button>
        <button id="botaoArtefatoCasosDeUso" class="ProjetoMenuArtefatos__Item">Casos de uso</button>
        <button id="botaoArtefatoPrototipos" class="ProjetoMenuArtefatos__Item">Protótipos</button>
        <button id="botaoArtefatoMatrizRastreabilidade" class="ProjetoMenuArtefatos__Item">Matriz rastreabilidade</button>
    </nav>

    <main  id="containerArtefatos" class="ContainerArtefatos">
    </main>
</div>