<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>LabDocs - Projetos públicos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="ContainerGeral">
        <div id="containerMenuNavegacaoPrincipal"></div>

        <header class="AppBarra">
            <button class="Botao" id="botaoAbrirMenuNavegacaoPrincipal">Menu</button>
            <h1 class="TextoTitulo">LabDocs</h1>
        </header>

        <div class="ContainerConteudo">
            <aside class="BarraConsultaProjetos">
                <div class="BlocoLabelInput">
                    <label for="textoPesquisa">Pesquisar</label>
                    <input type="search" id="textoPesquisa" placeholder="Titulo ou Descrição">
                </div>

                <a href="#" class="Link">Acessar super consulta</a>
            </aside>

            <main class="ListaProjetos">
                <div class="ListaProjetos__Projeto">
                    <h1 class="Projeto__Titulo">Projeto XPTO</h1>
                    <p class="Projeto__Descricao">Aenean neque metus, placerat id velit non, rhoncus varius tellus. Aliquam porttitor placerat lacus a placerat. Mauris feugiat nisl at nibh posuere, et semper velit laoreet.</p>
                    <a href="Projeto.html" class="Botao Botao--Acao">Acessar</a>
                </div>

                <div class="ListaProjetos__Projeto">
                    <h1 class="Projeto__Titulo">Projeto XPTO</h1>
                    <p class="Projeto__Descricao">Aenean neque metus, placerat id velit non, rhoncus varius tellus. Aliquam porttitor placerat lacus a placerat. Mauris feugiat nisl at nibh posuere, et semper velit laoreet.</p>
                    <a href="Projeto.html" class="Botao Botao--Acao">Acessar</a>
                </div>

                <div class="ListaProjetos__Projeto">
                    <h1 class="Projeto__Titulo">Projeto XPTO</h1>
                    <p class="Projeto__Descricao">Aenean neque metus, placerat id velit non, rhoncus varius tellus. Aliquam porttitor placerat lacus a placerat. Mauris feugiat nisl at nibh posuere, et semper velit laoreet.</p>
                    <a href="Projeto.html" class="Botao Botao--Acao">Acessar</a>
                </div>

                <div class="ListaProjetos__Projeto">
                    <h1 class="Projeto__Titulo">Projeto XPTO</h1>
                    <p class="Projeto__Descricao">Aenean neque metus, placerat id velit non, rhoncus varius tellus. Aliquam porttitor placerat lacus a placerat. Mauris feugiat nisl at nibh posuere, et semper velit laoreet.</p>
                    <a href="Projeto.html" class="Botao Botao--Acao">Acessar</a>
                </div>
            </main>
        </div>
    </div>

    <script type="module" src="../scripts/componentes/menuNavegacaoPrincipal.js"></script>
</body>
</html>