<div class="ContainerArtefatosProjeto">
    <nav class="MenuArtefatosProjeto">
        <button id="botaoArtefatoApresentacao" class="MenuArtefatosProjeto__Item">Apresentação</button>
        <button id="botaoArtefatoRequisitos" class="MenuArtefatosProjeto__Item">Requisitos</button>
        <button id="botaoArtefatoCasosDeUso" class="MenuArtefatosProjeto__Item">Casos de uso</button>
        <button id="botaoArtefatoPrototipos" class="MenuArtefatosProjeto__Item">Protótipos</button>
        <button id="botaoArtefatoMatrizRastreabilidade" class="MenuArtefatosProjeto__Item">Matriz rastreabilidade</button>
    </nav>

    <main  id="containerArtefatoProjeto" class="ContainerArtefatoProjeto">
    </main>
</div>