<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Projeto XPTO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div id="appComponentesBasicos"></div>

    <div class="AppConteudo">
        <nav class="MenuAreasProjeto">
            <button id="botaoArtefatos" class="MenuAreasProjeto__Item">Projeto</button>
            <button id="botaoTarefas" class="MenuAreasProjeto__Item">Tarefas</button>
            <button id="botaoEquipe" class="MenuAreasProjeto__Item">Equipe</button>
            <button id="botaoConfiguracoes" class="MenuAreasProjeto__Item">Configurações</button>
        </nav>

        <div id="containerConteudoAreaProjeto" class="ContainerConteudoAreaProjeto"></div>
    </div>

    <script type="module" src="../scripts/appComponentesBasicos.js"></script>
    <script type="module" src="../scripts/projeto.js"></script>
</body>
</html>