<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/ProjetoEquipeStyle.css">
    <title>ProjetoEquipe</title>
</head>
<body>
    <div class="ConteinerProjetoEquipe">
        <div class="PesquisarColabrador">
            <label for="iInputpesquisarColaborador"></label> 
            <input name="nInputpesquisarColaborador" id="iInputpesquisarColaborador" type="text"> 
            <input type="button" value="Pesquisar Colaborador">
        </div>
        <div class="ListaColaborador">
            <ol>
                <li>Colaborador <input type="button" value="Alterar Perfil Permissão do Colaborador"></li>
                <li>Fulano <input type="button" value="Alterar Perfil Permissão do Colaborador"></li>
                <li>Ciclano <input type="button" value="Alterar Perfil Permissão do Colaborador"></li>
                <li>Beltrano <input type="button" value="Alterar Perfil Permissão do Colaborador"></li>
            </ol>
            <input type="button" value="Adicionar Colaborador"><br>
            <input type="button" value="Remover Colaborador"><br>
            <input type="button" value="Manter Perfis de Permissão"><br> 
        </div>
    </div>
</body>
</html>