<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>LabDocs - Projetos públicos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div id="appComponentesBasicos"></div>

    <main class="AppConteudo">
        <aside class="ProjetosPublicos__Controles">
            <div class="BlocoLabelInput">
                <label for="textoPesquisa">Pesquisar</label>
                <input type="search" id="textoPesquisa" placeholder="Titulo ou Descrição">
            </div>
            <a href="#" class="Link">Acessar super consulta</a>
        </aside>

        <main class="ProjetosPublicos__Projetos">
            <div class="ProjetosPublicos__Projeto">
                <h1 class="ProjetosPublicos__ProjetoTitulo">Projeto XPTO</h1>
                <p class="ProjetosPublicos__ProjetoDescricao">Aenean neque metus, placerat id velit non, rhoncus varius tellus. Aliquam porttitor placerat lacus a placerat. Mauris feugiat nisl at nibh posuere, et semper velit laoreet.</p>
                <a href="Projeto.html" class="Botao Botao--Acao">Acessar</a>
            </div>

            <div class="ProjetosPublicos__Projeto">
                <h1 class="ProjetosPublicos__ProjetoTitulo">Projeto XPTO</h1>
                <p class="ProjetosPublicos__ProjetoDescricao">Aenean neque metus, placerat id velit non, rhoncus varius tellus. Aliquam porttitor placerat lacus a placerat. Mauris feugiat nisl at nibh posuere, et semper velit laoreet.</p>
                <a href="Projeto.html" class="Botao Botao--Acao">Acessar</a>
            </div>

            <div class="ProjetosPublicos__Projeto">
                <h1 class="ProjetosPublicos__ProjetoTitulo">Projeto XPTO</h1>
                <p class="ProjetosPublicos__ProjetoDescricao">Aenean neque metus, placerat id velit non, rhoncus varius tellus. Aliquam porttitor placerat lacus a placerat. Mauris feugiat nisl at nibh posuere, et semper velit laoreet.</p>
                <a href="Projeto.html" class="Botao Botao--Acao">Acessar</a>
            </div>

            <div class="ProjetosPublicos__Projeto">
                <h1 class="ProjetosPublicos__ProjetoTitulo">Projeto XPTO</h1>
                <p class="ProjetosPublicos__ProjetoDescricao">Aenean neque metus, placerat id velit non, rhoncus varius tellus. Aliquam porttitor placerat lacus a placerat. Mauris feugiat nisl at nibh posuere, et semper velit laoreet.</p>
                <a href="Projeto.html" class="Botao Botao--Acao">Acessar</a>
            </div>
        </main>
    </main>

    <script type="module" src="../scripts/appComponentesBasicos.js"></script>
</body>
</html>