<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Comentarios do projeto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/ProjetoComentarios.css">
</head>
<body>
    <div class="Comentarios">
        <div class="Comentarios__Projeto">
            <h1>Projeto XPTO</h1>
        </div>

        <div class="Comentarios__AdicionarComentario">
            <input type="text" placeholder="Adicione um comentário!">
            <button class="Botao Botao--Positivo">Comentar</button>
        </div>

        <div class="Comentarios__Configuracoes">
            <div class="BlocoLabelInput">
                <label for="ordemComentarios">Ordenar por</label>
                <select id="ordemComentarios">
                    <option value="maisRecentes">Mais recentes</option>
                    <option value="maisVotados">Mais votados</option>
                </select>
            </div>
        </div>

        <div class="Comentarios__Cabecalho">
            3 Comentarios
        </div>

        <div class="Comentarios__ListaComentarios">
            <div class="Comentarios__Comentario">
                <p>Donec nisi mi, malesuada ac finibus ut, lacinia non risus. Morbi a mauris augue. Cras non consequat dui. Aenean eget eros id sapien semper molestie. Duis ut mauris scelerisque, posuere tortor nec, venenatis eros. Fusce tincidunt sed leo id ultrices. Quisque elementum ipsum at nisi eleifend, ut tristique velit volutpat. Ut faucibus venenatis sapien, in facilisis lacus vehicula ac. Nam sed iaculis lectus, ac volutpat neque. Morbi hendrerit dolor non nunc eleifend ornare. Phasellus fermentum mollis nisl, vitae vestibulum est.</p>
            </div>
            <div class="Comentarios__Comentario">
                <p>Morbi placerat felis in purus accumsan, a elementum lacus condimentum. Cras vel est quis ex tincidunt dignissim. Ut maximus tortor sed mauris rutrum fringilla. Integer vel arcu neque. Donec porttitor elit elit, sed feugiat sapien consequat nec. Curabitur quis luctus purus. Nulla in ipsum felis.</p>
            </div>
            <div class="Comentarios__Comentario">
                <p>Cras id ex imperdiet, pulvinar diam id, condimentum tortor. Etiam quis mi vitae felis volutpat vehicula. Sed id tortor a ex egestas varius ut eu erat. Nunc feugiat sagittis volutpat. Donec leo leo, vulputate at varius ac, scelerisque ut sapien. Maecenas dignissim condimentum varius. Maecenas quis neque lacus. Pellentesque tincidunt tortor non sem hendrerit, venenatis luctus velit aliquam. Cras vitae dolor non augue egestas pharetra. Morbi in nunc metus. Morbi ultrices imperdiet nibh, ac posuere magna viverra in. Mauris quis tellus ut ipsum molestie convallis ut in mauris.</p>
            </div>
        </div>
    </div>
</body>
</html>