<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Matriz de rastreabilidade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/ProjetoMatrizRastreabilidade.css">
</head>
<body>
    <div class="ContainerGeral">
        <table class="MatrizRastreabilidade">
            <caption >Matriz de rastreabilidade</caption>

            <!--Cabeçalho da matriz-->
            <thead>
                <tr>
                    <th><!--Deixa a primeira celula vazia--></th>
                    <th>RF-XXX</th>
                    <th>RNF-XXX</th>
                    <th>RN-XXX</th>
                    <th>CSU-XXX</th>
                    <th>T-XXX</th>
                </tr>
            </thead>

            <!--Corpo da matriz-->
            <tbody>
                <tr>
                    <th>RF-XXX</th>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <th>RNF-XXX</th>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <th>RN-XXX</th>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <th>CSU-XXX</th>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <th>T-XXX</th>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>