<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/ProjetoPrototipo.css">
    <title>protipo do projeto</title>
</head>
<body>
    <main>
        <button id="prototipo-btn-previous" onclick="previousImage()">
            <img src="../../icones/seta.png" alt="">
        </button>

        <div id="prototipo-imagem-container">
            <img id="prototipo-imagem" src="" alt="imagem do prototipo">
        </div>

        <button id="prototipo-btn-next" onclick="nextImage()">
            <img src="../../icones/seta.png" alt="">            
        </button>
    </main>

    <aside>
        <h3 id="prototipo-titulo-imagem-descicao">TITULO DESCRICAO IMAGEM</h3>
        <p id="prototipo-imagem-descricao"></p>
    </aside>

    <footer>
        <h2 id="prototipo-titulo-descricao">TITULO DESCRICAO</h2>
        <p id="prototipo-descricao">DESCRICAO</p>
    </footer>

    <script src="../scripts/ProjetoPrototipo.js"></script>
</body>
</html>